.app {
  margin: 0em;
  padding: 1em;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #ffe62c;
}

.app__filter-name {
  width: 30%;
  border: 2px solid black;
  background-color: #5df5cf;
}

.app__list-item {
  list-style: none;
}
